
// .apiItems {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     padding: 15px;
//     flex-wrap: wrap;
//     }

    .individualProjectDiv {
        // background-color: purple;
       
        margin: 1%;
        // height: 15vh;
        width: 95vh;
        border-radius: 15px;
        box-shadow: 0px 3px 10px #EE9B00;
        border-color: #f9da6a;
       
        padding: 0px;
        display: flex;
        flex-direction: column;
       align-items: center;
        justify-content: evenly;
        flex-wrap: wrap;
      overflow: hidden;

    
     

     
    
    }

