


.project {
    background-color: purple;
   
    margin: 10px 0px 10px 10px;
    height: 20vh;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 3px 10px var(--dark);
    padding: 0px;
    display: flex;
    justify-content: space-around;

}


.projectDiv {
display: flex;
flex-direction: column;
justify-content: space-evenly;

}

.linkDiv {
    display: flex;
    flex-direction: row;

    
    background-color: white;
 

}


button {
    width: 92%;
}