
@import "../../global.scss";


.portfolio {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        font-size: 40px;
    margin: 5px;
    overflow: hidden;
}

ul {
    margin: 0px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

li {
    font-size: 12px;
    margin: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: black;
    flex-wrap: wrap;
    border: 5px solid white;
    border-radius: 20px;
    &.active{
        background-color: $mainColor;
        color: white;
    }
}

.container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    width: 210px;
    height: 210px;
    border-radius: 20px;
    border: 1px solid rgb(240, 239, 239);
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
    cursor: pointer;
    

    h3 {
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
       


    }
}

}

