@import "../../global.scss";

.contact {
  background-color: #EE9B00;
  display: flex;
  text-decoration: none;

  @include mobile {
    flex-direction: column;
  }

  // .contact {
  //   height: 100vh;
  //   position: relative;
  // }
  .contact-wrapper {
    height: 80%;
    width: 90%;
    background-color: #94D2BD;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
   padding: 20px;
   font-weight: bold;
   font-size: 20px;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px, rgba(0, 0, 0, 0.3) 0px 7px 13px -5px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  


.contact-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  
  
  height: 90%;
}






  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;
    // text-align: center;
    padding: 20px;
    height: 100%;
  width: 100%;
text-align: left;

h4 {
  margin-top: 30px;
}
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    text-align: center;

  }
  
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  .contact-right {
    
    height: 100%;
    width: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
    //  justify-content: space-around;
     background-color: #94D2BD;
  }


  .contact-left {
    height: 100%;
    width: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
     // justify-content: space-around;
     background-color: #94D2BD;
   
   }
  
  .contact-title {
    font-size: 50px;
    width: 80%;
  }
  
  .contact-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    font-size: 35px;
    width: 100%;
    text-decoration: none;
  }
  
  .contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  
  .contact-desc {
    font-size: 30px;
  }
  

a {
  text-decoration: none;
}


.left {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


  
  .right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #005F73;
    border-radius: 50%;
    height: 95%;
    width: 95%;
    margin: auto;
    position: relative;
   
    right: -250px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px, rgba(0, 0, 0, 0.3) 0px 7px 13px -5px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


    h2 {
      font-size: 30px;
      margin-right: 125px;
    }

 

 

    form {
      width: 70%;
      height: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-right: 125px;

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
        border-radius: 2.5px;

      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;
        border-radius: 2.5px;
       
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: rgb(209, 58, 223);
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

       
      }

      span {
        color: black !important;
      }
    }
  }
}