

.projectUl{
    box-shadow: 0 3px 10px var(--dark);
}


.projectLi {
    background-color: #E9D8A6;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // flex-wrap: wrap;
align-items: center;
text-align: center;
width: 30%;
margin: 5px;
overflow: hidden;




h2 {
    margin-bottom: 0px;
    background-color: #EE9B00;
    width: 100%;
    padding: 2px;
}


}


.repoDiv {
    width: 100%;
    background-color: #001219;
}

a {
    text-decoration: none;
  }

.descriptionDiv {
    padding: 5px;

}

////////////////////////////////////////////////////////////////

/// css after redo only/// ///////////


.projectContainer {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.leftProject {
    background-color: #0A9396;
    margin-right: 10px;
  width: 47vw;
  text-align: center;
  
    
}

.rightProject {
    background-color: #0A9396;
    margin-left: 10px;
    width: 47vw;
    overflow: none;
    // display: flex;
    // flex-direction: column;
    
    // align-items: center;
}

