


.projectLi {
    background-color: #E9D8A6;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // flex-wrap: wrap;
align-items: center;
text-align: center;
width: 30%;
margin: 5px;



h2 {
    margin-bottom: 0px;
    background-color: #EE9B00;
    width: 100%;
    padding: 2px;
}


}


.repoDiv {
    width: 100%;
    background-color: #001219;
}

a {
    text-decoration: none;
  }

.descriptionDiv {
    padding: 5px;

}

